<html lang="en">
<link rel="stylesheet" href="styles.css">

<body>
  <%- include("./partials/nav.ejs") %>

  <section class="hero">
      <div class="container">
          <div class="hero-content">
              <h1>ANYWHERE FOR THE CLUB</h1>
              <p>Coming Sep 24, 2024</p>
              <div class="buttons">
                  <a href="#" class="btn-app-store">Download on the App Store</a>
                  <a href="#" class="btn-google-play">Get it on Google Play</a>
              </div>
          </div>
          <div class="hero-image">
              <img src="belingoal.jpg" alt="EA Sports FC Mobile Hero Image">
          </div>
      </div>
  </section>
  
  <section class="new-season">
      <div class="container">
          <h2>KICK OFF NEW 24/25 SEASON</h2>
          <p>EA SPORTS FC™ Mobile's new season update brings exciting new additions to the way you play. New features like Club Challenge, Football Center, and the latest roster update take you closer to real-world football action.</p>
          <p>Anywhere for the club.</p>
      </div>
  </section>

  <div class="blogs content">
      <h2>All Blogs</h2>

      <% if (blogs.length) { %>
        <% blogs.forEach(function(blog) { %>
          <a class="single" href="/blogs/<%= blog._id %>">
            <h3 class="title"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
          </a>
        <% }) %>
      <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>